*,
*::after,
*::before {
    margin:0;
    padding:0;

    /* Force the box-sizing property listed in "body" to be
    inherited throughout the site
    */
    box-sizing: inherit;
}
html {
    /* Default browser font-size is 16px 
       So, 10px (desired) / 16px provided = 62.5%
    */
    font-size:62.5%;
}
body {
    box-sizing:border-box;
}